### Variables
Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

In [1]:
a=100

In [ ]:
## Declaring And Assigning Variables

age=23
height=6.0
name="Prashant"
is_student=True

## printing the variables

print("age :",age)
print("Height:",height)
print("Name:",name)

age : 32
Height: 6.1
Name: Krish

In [1]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or an '_' and contains letter,numbers and underscores
## variables names case sensitive

#valid variable names

first_name="Prashant"
last_name="Shakya"

In [ ]:
# Invalid variable names
# 2age=30
# first-name="Prashant"
# #@name="Prashant"

SyntaxError: invalid decimal literal (3323200005.py, line 2)

In [ ]:
## case sensitivity
name="Prashant"
Name="Shakya"

In [4]:
## Understnading Variable types
## Python is dynamically typed,type of a variable is determined at runtime
age=23 #int
height=6.0 #float
name="Prashant" #str
is_student=True #bool

print(type(name))

<class 'str'>

In [5]:
## Type Checking and Conversion

type(height)

float

In [7]:
age=23
print(type(age))

# Type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
23
<class 'str'>

In [8]:
age='23'
print(type(int(age)))

<class 'int'>

In [9]:
name="Prashant"
int(name)

ValueError: invalid literal for int() with base 10: 'Prashant'

In [10]:
height=6.0
type(height)

float

In [11]:
float(int(height))

6.0

In [12]:
## Dynamic Typing
## Python allows the type of a vraible to change as the program executes
var=10 #int
print(var,type(var))

var="Hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [13]:
## input

age=int(input("What is the age"))
print(age,type(age))

23 <class 'int'>

In [27]:
### Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 66.0
Difference: 46.0
Product: 560.0
Quotient: 5.6